{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h4 class="text-center">Forgot Password?</h4>
<div class="mt-5 mb-5 section-1-container section-container">
    <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
            <div class="div-to-align">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Send password</button>
<!--                    <a class="btn btn-outline-secondary" href="{% url 'boards' %}">Cancel</a>-->
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}