{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h4 class="text-center">Update Profile</h4>
<div class="mt-5 mb-5 section-1-container section-container">
    <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
            <div class="div-to-align">
                <ul class="mb-3 nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link inactive-hover {{ pr_class }}" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-2 inactive-hover {{ pc_class }}" href="{% url 'change_password' %}">Change Password</a>
                    </li>
                </ul>
                <form method="post">
                    {% csrf_token %}
                    {{ u_form|crispy }}
                    {{ pc_form|crispy }}
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a class="btn btn-outline-secondary" href="{% url 'boards' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}