.cross-list{text-decoration: line-through;}
footer {
}

#bootstrap-overrides form#addboard{
display: block;
    text-align: center;
}
#bootstrap-overrides .nav-pills .nav-link.inactive {
    color: #fff;
    background-color: #007bff;
}
/*
#bootstrap-overrides form#user_login_form{
    text-align: -webkit-center;
}

#bootstrap-overrides form#user_login_form input{
    width: 30% !important;
} */
#bootstrap-overrides .add-btn-right a,#bootstrap-overrides .add-btn-center a {background-color: #007bff;font-size: 1rem;}
a.nav-link.inactive-hover  {background-color:lightgray;color:white;}
a.nav-link.inactive-hover:hover{color: #fff;background-color: #007bff;}
.container .nav-pills li{padding-right: 5px;}
#bootstrap-overrides h4.text-center,
#bootstrap-overrides h3.text-center {font-weight: bold;}
.dropdown-main {cursor:pointer;color:white;list-style-type: none;}
.navbar-expand-lg {
    flex-flow: row nowrap !important;
    justify-content: flex-start !important;
}
#bootstrap-overrides .navbar button.btn.btn-outline-secondary.my-2.my-sm-0{color:white;}
#bootstrap-overrides #sticky-footer{margin-top: auto;}
body#bootstrap-overrides{display: flex;
    flex-direction: column;
    min-height: 100vh;}
#bootstrap-overrides .custom-align-middle {text-align: center;}
